version: '3'

services:
  postgres:
    image: postgres:15-alpine
    restart: unless-stopped
    ports:
      - '5432:5432'
    volumes:
      - .docker/postgres/data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: gravity
      POSTGRES_USER: gravity
      POSTGRES_PASSWORD: gravity
    networks:
      - default
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${POSTGRES_USER:-postgres}']
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7.0.11-alpine
    restart: unless-stopped
    ports:
      - '6379:6379'
    volumes:
      - .docker/redis/data:/var/lib/redis/data
    networks:
      - default
    command: redis-server --appendonly yes
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: '10s'
      timeout: '5s'
      retries: 5

volumes:
  postgres_data:
    driver: local
  redis_data:
    driver: local

networks:
  default:
    driver: bridge
